[Unit]
Description=gunicorn daemon
After=network.target
Requires=nginx.service
Before=nginx.service

[Service]
PIDFile=/run/gunicorn/pid
User=centos
Group=centos
WorkingDirectory={{ source_path }}
ExecStart={{ virtualenv_path }}/bin/gunicorn                \
        --pid /run/gunicorn/pid                             \
        --bind=127.0.0.1:8000                               \
        --error-logfile=/var/log/gunicorn/gunicorn.error    \
        superlists.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
